<!--Listing 5.11. A partial for the site header -->
<!--The _ before the file name is the universal convention for naming partials, and among other things makes it possible to identify all the partials in a directory at a glance.-->

<!--Listing 5.27. Replace '#' with links -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">     
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">          
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>

          <!--Listing 8.24. Changing the layout links for signed-in users. -->
          <% if signed_in? %>

            <!--Listing 9.27: Add URL to users link. -->
            <li><%= link_to "Users", users_path %></li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                 <!-- Could also use: link_to "Profile", user_path(current_user)  --> 

                <!-- Listing 9.7: Adding a “Settings” link.)  -->
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>

                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                  <!--"signout_path defined in config/routees.rb  -->
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <!--"signin_path defined in config/routees.rb  -->
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>
